.DS_Store

*.pyc

.dev/*.sublime-workspace
.dev/AudioUnitExamples/*
.dev/frontends/*

RosetaEar/*
DSPOpenCLGPU/*

_tools/*
linkedLibraries/*
_otherPeopleRepos/*

RosetusSynth/*
android-app-fork
pyevans/*
android-sdk
android-ndk
external_tools_source_code/*
!external_tools_source_code/*.sh
Rosetus/*

*.swp
