.DS_Store

*.pyc

.dev/*.sublime-workspace
.dev/AudioUnitExamples/*
.dev/frontends/*

RosetaEar/*
DSPOpenCLGPU/*

_tools/*
linkedLibraries/*
_otherPeopleRepos/*

RosetusSynth/*
resources/FluidR3GM2-2.SF2
resources/*.wav*
android-app-fork
pyevans/*
android-sdk
android-ndk
external_tools_source_code/*
!external_tools_source_code/*.sh
